:root {
    --main-color: #eb5757;
    --subtext-color: #797878;
}

* {
    box-sizing: border-box
}

a {
    text-decoration: none;
}

.fa {
    padding: 9px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

body {
    margin: 0;
    font-family: 'Poppins';


}

.navbar {
    display: flex;
    background-color: var(--main-color);
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: top 0.5s;
}

.navbar-rightside {
    display: flex;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
}

.navbar-links li {
    list-style: none;
    padding: 0 15px;

}

.navbar-links a {
    color: #fff;
    text-decoration: none;

    padding: 7px 12px;
    border-radius: 5px;
}

.navbar-links a:hover {
    background-color: #000;
}

.cart {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    width: 70px;
    height: 32px;
    background-color: #000;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart i {
    color: white;
    font-size: 24px;
    scale: 70%;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: white;
    color: black;
    border: 2px solid #eb5757;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 4px;
    width: 28px;
    background-color: white;
    margin: 2px 30px;
    border-radius: 5px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* Move it to the right */
    background-color: rgb(42, 42, 42);
    background-color: rgba(42, 42, 42, 0.9);
    overflow-x: hidden;
    transition: width 0.5s ease;
    /* Transition width smoothly */
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #afafaf;
    display: block;
    transition: 0.5s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--main-color);
    /* font-size: 30px; */
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    /* Changed from right to left */
    font-size: 60px;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 20px 30px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .overlay a {
        font-size: 30px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        left: 35px;
    }

}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    /* position: relative; */
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.0s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.banner {
    width: 100%;
    height: 750px;
    /* overflow: hidden; */

    /* display: flex;
    justify-content: center;
    align-items: end; */

}

.image-container {
    /* position: relative; */
    width: 100%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    filter: blur(0px);
    /* padding-left: 100px; */

}

.dot-indicator {
    /* display: flex;
    gap: 10px;
    position: relative;
    background-color: wheat; */

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 15;

}

.dot {
    /* width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease; */

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: var(--main-color);
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgb(20, 19, 19) 100%);
    pointer-events: none;
}

.txt-left {
    display: flex;
    align-content: flex-start;
    margin: 0;
    text-wrap: wrap;
    justify-content: center;
    height: min-content;
}

.banner h1 {
    position: absolute;
    top: 40%;
    left: 100px;


    transform: translateY(-50%);
    color: white;
    font-size: 62px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0);

    z-index: 10;
}

.banner p {
    position: absolute;
    top: 60%;
    left: 100px;
    z-index: 10;

    transform: translateY(-50%);
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.banner button {
    position: absolute;
    top: 73%;
    left: 100px;

    transform: translateY(-50%);
}

.outlined-button {
    border: 2px solid white;
    background-color: transparent;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    width: auto;
    border-radius: 5px;
    z-index: 10;
    transition: background-color 0.8s ease, color 0.8s ease;
}

.outlined-button:hover {
    background-color: white;
    color: black;
    font-weight: 550;
}

@media (max-width: 768px) {

    .banner p,
    .banner button,
    .banner h1 {
        left: 70px;
    }
}

.footer {
    height: auto;
    color: white;
    background-color: #222222;
    font-family: 'Poppins';
    align-content: center;
}

.footer p {
    font-size: 14px;
    color: #797878;
}

.footer .top-content-footer {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 10px 0;
}

.block-3 {
    left: 0px;
}

.block-3 ul {
    list-style-type: none;
    padding: 0;
}

.block-3 li {
    padding: 8px 0;
    align-items: start;
    align-content: start;
}

.block-3 li a {
    color: var(--subtext-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.block-3 li a:hover {
    color: var(--text-color);
}

.block-4 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-4 input {
    height: 45px;
    width: 300px;
    border-radius: 80px;
    border: var(--subtext-color) 0.5px solid;
    background-color: transparent;
    padding: 0 20px;
    color: white;
}

.block-4 button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
}

.footer img {
    scale: 2.0;
    padding-left: 9%;
    padding-bottom: 50px;
    align-items: center;
    position: relative;
}

.footer .bottom-bar-footer {
    background-color: #1A1919;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-bar-footer .copyright {
    display: flex;
}

.bottom-bar-footer .copyright a {
    color: var(--main-color);
}

.bottom-bar-footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.bottom-bar-footer .toTheTop {
    position: relative;
    width: 50px;
    height: 40px;

    left: 50px;
    bottom: -7px;
    justify-content: center;
}

.toTheTop button {
    position: absolute;
    width: 40px;
    height: 50px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}